footer {
	margin: 50px 0;
}

#test_modal{
  background-color: #efefef;
  width: 50%;
  height: 750px;
  margin: 0 auto;
  box-shadow: 0px 0px 50px #000;
}

.grey-curtain {
  width:96%;
  height:100%;
  background: url(../images/grey.png) repeat;
  position:absolute;
  top:0;
  display:none;
  z-index:1;
}

.actor {
  position: absolute;
  width:96%;
  height: 100%;
  top:0;
  display:none;
}

.actor-title {
  z-index:3;
}

.actor-slide-image {
  z-index:2;
}

.actor-title h2{
  color: #fff;
}

.big-image-wrapper a:hover, .big-image-wrapper a:focus {
  text-decoration: none;
}
