<!DOCTYPE html>

<html lang="en" data-ng-app="webApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="./images/favicon.ico">

    <title>ThemeFactory.net</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootswatch.min.css" rel="stylesheet">
    <link href="css/bootstrap-modal.css" rel="stylesheet">

    <!-- Custom CSS for the 'Thumbnail Gallery' Template -->
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body data-ng-controller="AppController" class="ng-cloak">

  <div class="modal fade" id="test_modal">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      <h3>Contact Us</h3>
    </div>
    <div class="modal-body">
      <iframe src="https://docs.google.com/forms/d/1M8i-c4BasOV_UIBm2NVmps2fbHgdf0YZbR49l492dFU/viewform?embedded=true" width="480" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
  </div>

    <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://themefactory.net"><img title="Welcome to ThemeFactory.net" width="25px" src="images/{{welcomeIcon}}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#family">Family <b class="caret"></b></a>
                <ul class="dropdown-menu" id="swatch-menu">
                  <li title="Check out the Laravel Theme Factory"><a href="https://laravel.themefactory.net">Laravel</a></li>
                  <li title="Check out the Yii Theme Factory"><a href="https://yii.themefactory.net">Yii</a></li>
                  <li title="Check out the WordPress Theme Factory"><a href="https://wordpress.themefactory.net">WordPress</a></li>
                  <li title="Check out the Yii2 Theme Factory"><a href="https://yii2.themefactory.net">Yii2</a></li>
                  <li title="Check out the Bootstrap Theme Factory"><a href="https://bootstrap.themefactory.net">Bootstrap</a></li>
                  <li title="Check out the HTML Theme Factory"><a href="https://html.themefactory.net">HTML</a></li>
                  <li title="Check out the Icon Theme Factory"><a href="https://icon.themefactory.net">Icon</a></li>
                  <li title="Check out the Pattern Theme Factory"><a href="https://pattern.themefactory.net">Pattern</a></li>
                  <li title="Check out the Email Theme Factory"><a href="https://email.themefactory.net">Email</a></li>
                  <!-- <li class="divider"></li> -->
                </ul>
            </li>
            <li><a href="#contact" id="openModal">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">ThemeFactory.net<small> the largest collection of FREE diverse templates and designs.</small></h1>
        </div>

      </div>

      <div data-ng-repeat="factory in factories">
        <div class="factory-directive" data-ng-model="factory"></div>
      </div>

      <script type="text/template" id="factory-template">
        <div>
        <div class="row">

          <div class="col-lg-7 col-md-7 big-image-wrapper">
            <a href="{{ngModel.url}}">
              <img class="img-responsive big-image" data-ng-src="{{ngModel.bgImage}}">
              <div class="grey-curtain"></div>
              <div class="actor actor-title"><h2>{{ngModel.name}} Templates</h2></div>
              <div class="actor actor-slide-image"><img class="img-responsive" data-ng-src="{{ngModel.slideImage}}"></div>
            </a>
          </div>

          <div class="col-lg-5 col-md-5">
            <h3>{{ngModel.name}}</h3>
            <h4>{{ngModel.subheading}}</h4>
            <p ng-bind-html-unsafe="ngModel.description"></p>
            <a class="btn btn-primary" data-ng-href="{{ngModel.url}}">Visit {{ngModel.shortName}} Factory</a>
          </div>

        </div>

        <hr>
        </div>
      </script>

      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; ThemeFactory.net <span class="current-date"></span> &middot; <a href="http://twitter.com/themefactorynet">Twitter</a> &middot; <a href="http://www.pinterest.com/themefactorynet/pins/">Pinterest</a></p>
          </div>
        </div>
      </footer>

    </div><!-- /.container -->

  <!-- javascript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/bootstrap-modal.js"></script>
  <script src="js/bootstrap-modalmanager.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script src="js/app.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $("#openModal").on("click", function(){
        $("#test_modal").modal("show");
      });

      $(".big-image").on("mouseenter",function(e){
        $(e.target).parent().find(".grey-curtain").slideDown();
        $(e.target).parent().find(".actor-title").effect("slide", {"direction":"down"});
        $(e.target).parent().find(".actor-slide-image").effect("slide", {"direction":"left"});
      });

      $(".big-image-wrapper").on("mouseleave",function(e){
        $(".grey-curtain").slideUp();
        $(".actor").fadeOut();
      });
    });
  </script>

  </body>

</html>
